{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <div class="col-lg-6 mx-auto">
            <h1 class="display-5 fw-bold text-body-emphasis mt-5 mb-2">Rendez-vous</h1>
            <p class="lead">{{ opening_time|format_datetime('full', locale='fr', timezone='Europe/Paris')|capitalize }}</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}