{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <div class="col-lg-6 mx-auto">
            <h1 class="display-5 fw-bold text-body-emphasis mt-5 mb-2">Jeu terminé !</h1>
        </div>
        <hr/>
        {% include 'scores/_scores.html.twig' with {individualScores, teamScores} only %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}