{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Confirmation</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Vous souhaitez vous inscrire ou vous reconnecter avec le code <span style="font-weight: 600;">{{ code }}</span>.</p>
            <p class="lead mb-4">Est-ce bien le code de votre badge personnel ?</p>
            <p class="lead mb-4">
                <a href="{{ path("app_register_validate", {code64: code64}) }}"
                        role="button" class="btn btn-primary">Oui c'est bien mon badge !</a>
            </p>
            <p class="mb-4"><a href="{{ path("app_register") }}">Non ce n'est pas mon code</a></p>

        </div>
    </div>
{% endblock %}
