{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Apéro communautaire : le jeu</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Afin de commencer le jeu de l'apéro communautaire, veuillez saisir votre identifiant présent sur votre badge, puis cliquez sur Commencer !</p>
            {{ form(registrationForm) }}
            <a href="{{ path('app_register_scanner') }}">Lire un QR Code</a>
        </div>
    </div>
{% endblock %}
