{% extends 'base.html.twig' %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Apéro communautaire : le jeu</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Afin de commencer le jeu de l'apéro communautaire, veuillez saisir votre identifiant présent sur votre badge, puis cliquez sur Commencer !</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Commencer</button>
            </div>
        </div>
    </div>
{% endblock %}
