{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Apéro communautaire : le jeu</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-0 mt-4">Vous êtes <span style="font-weight: 600;">{{ usercode }}</span>.</p>
            <p class="lead mb-4">Vous faites partie de l'équipe <span style="font-weight: 600;">{{ team|upper }}</span>.</p>
{#            {{ form(registrationForm) }}#}
        </div>
    </div>
{% endblock %}
