{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Apéro communautaire : le jeu</h1>
        <p class="lead my-5">Vous pouvez entrer manuellement le code d'un.e autre participant.e en utilisant le champ suivant :</p>
        <div class="col-lg-6 mx-auto">
            {{ form(form) }}
            <a href="{{ path('app_scanner') }}">Lire un QR Code</a> - <a href="{{ path('app_home') }}">Retour</a>
        </div>
    </div>
{% endblock %}
