{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="display-5 fw-bold text-body-emphasis text-center">Règles du jeu</h1>
        <div class="col-lg-6 mx-auto">
            <p>Vous avez aimé le jeu de l’apéro communautaire du Forum PHP 2023 ? Bienvenue dans sa V2, surchargée au bluff, propice aux coups bas et ouvrant la porte au classement individuel ! Est-ce que notre public est de confiance, ou est-ce que son esprit joueur va inciter à tromper ses autres membres ? C’est ce que nous allons découvrir ce soir !</p>

            <h2>But du jeu</h2>
            <p>Le but du jeu cette année est d’accumuler un maximum de points pour figurer en tête du classement individuel tout en contribuant au score global de l’équipe.</p>
            <p>Pour cela, découvrez quelle équipe vous a été secrètement attribuée, puis retrouvez au cours de la soirée le maximum de membres de votre équipe en flashant le QR code de leur badge. Chaque flashage de badge avec un membre de votre équipe vous rapporte 10 points. Retrouvez un maximum de membres de votre équipe pour encaisser un maximum de points.
                Les scores de chaque membre de l’équipe contribuent au score général de l’équipe.</p>
            <p>Attention cependant ! Chaque flashage de badge d’un membre d’une autre équipe vous fait perdre 5 points ! <strong>C’est donc la porte ouverte aux coups de bluff et autres coups bas qui vous permettront de faire perdre des points à vos adversaires et de vous assurer la meilleure place au classement !</strong></p>
            <p>Attention également aux  “ticket d’or” et aux “fatal error” ! En flashant le badge d’une personne vous pouvez attraper un  “ticket d’or” : faites un pas de géant au classement en encaissant 100 points d’un coup ! Mais en flashant le badge de la personne vous pouvez déclencher une  “fatal error”et perdre 50 points d’un coup… </p>
            <p>La personne gagnante est celle qui aura enregistré le plus de points au cours de la soirée. L’équipe gagnante est celle dont les membres ont contribué collectivement au plus gros score de la soirée. </p>

            <h2>Participant·e·s</h2>
            <p>Chaque participant·e au Forum PHP 2024 est invité·e à jouer. Les participant·e·s sont répartis en équipe. Il existe 5 équipes : Axolotl, Kiwi, Quokka, Tatou et Wombat.</p>

            <h2>Vous enregistrer pour jouer</h2>
            <p>Pour démarrer, enregistrez-vous sur https://jeu.afup.org, en entrant l’identifiant situé sous le QR code de votre badge. Une fois identifié·e, nous vous proposons de choisir le nom sous lequel vous serez affiché·e au classement. Une fois cette étape passée, votre partie peut commencer.</p>

            <h2>Lancement de votre partie</h2>
            <p>Au démarrage de votre partie, vous ne savez pas à quelle équipe vous appartenez ! Pour le découvrir, vous allez devoir flasher des badges, jusqu’au moment où vous aurez rencontré un·e co·équipière : le nom de votre équipe vous sera alors dévoilé. C’est donc la chance uniquement qui vous permettra de connaître votre nom d’équipe, en espérant que vous ne perdiez pas trop de points dans la manœuvre !
                Chacun peut décider de lancer sa partie à n’importe quel moment de la soirée. Plus vous vous connectez tôt, plus vous avez de temps pour retrouver les membres de votre équipe et faire grimper votre compteur de points.
            </p>

            <h2>Comment flasher un badge</h2>
            <p>Lorsque vous flashez le QR code situé sur votre badge pour la première fois, vous êtes invité·e à valider votre ID (située sous le QR code).</p>
            <p>Les fois suivantes, lorsque vous allez à la rencontre d’une autre personne, cliquez sur “scanner un badge” pour flashez le QR code de la personne :</p>
            <ul>
                <li>la personne fait partie de votre équipe : victoire, une de plus, vous enregistrez 10 points ! La personne en face de vous peut également flasher votre badge, pour qu’elle aussi reçoive 10 points,</li>
                <li>la personne ne fait pas partie de votre équipe : dommage, vous avez perdu 5 points ! La personne en face de vous ne gagne pas de point.</li>
            </ul>

            <h2>Points</h2>
            <ul>
                <li>La personne flashée est de la même équipe que vous : vous encaissez 10 points.</li>
                <li>La personne flashée est dans une autre équipe : vous perdez 5 points.</li>
                <li>La personne flashée est votre “ticket d’or” : vous encaissez 100 points ! Cette personne peut être n’importe qui parmi les participant·e·s, c’est-à-dire qu’elle peut être dans votre équipe comme membre d’une autre équipe ! Vous n’avez qu’un “ticket d’or” parmi l’ensemble des participant·e·s.</li>
                <li>La personne flashée est votre “fatal error” : vous perdez 50 points ! Cette personne peut être n’importe qui parmi les participant·e·s, c’est-à-dire qu’elle peut être dans votre équipe comme membre d’une autre équipe ! Vous n’avez qu’une “fatal error” parmi l’ensemble des participant·e·s.</li>
            </ul>

            <h2>Classement individuel et classement par équipe</h2>
            <p>Lorsque vous êtes connecté·e au jeu, un tableau récapitulatif de l’état actuel du classement individuel et par équipe en temps réel apparaît. Le tableau individuel affiche les noms des 3 premier·e·s au classement, votre position dans le classement et la dernière personne au classement. Le classement par équipe indique le nombre total de points pour chaque équipe.</p>

            <h2>Durée</h2>
            <p>Le jeu démarre à 19h et se termine à 22h. Tout le monde peut commencer à jouer en se connectant à jeu.afup.org n’importe quand sur la tranche horaire. En dehors de la plage horaire, le jeu n’est pas accessible.</p>

            <h2>Fin du jeu</h2>
            <p>Le jeu s’arrête automatiquement à 22h. Les résultats seront disponibles sur la page du jeu jeu.afup.org . Les résultats seront officiellement dévoilés lors de la présentation des speakers, le vendredi en début de matinée.</p>
        </div>
    </div>
{% endblock %}
